@import '/home/tylerv/.cache/hellwal/colors.scss'

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  color: $color5;
}

.empty {
  opacity: 0;
}

.active {
  color: $color12;
}

.inactive {
  color: $color15;
}

.accent {
  color: $color6;
}

.module {
  background-color: $color0;
  border-radius: 8px;
  border: 3px solid $color9;
  box-shadow: 5px 5px #0007;
}

.bar {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.v {
  margin-top: 5px;
  margin-top: 5px;
}

.h {
  margin-left: 5px;
  margin-right: 5px;
}

.space {
  margin-bottom: 5px;
  margin-top: 5px;
}

.icon {
  font-size: 24;
}

.media-progress-bar highlight {
  background-color: $color3;
}

.media-progress-bar trough {
  background-color: #6f6f78;
  min-width: 1px;
}

.window {
  padding: 20px;
}

.niribar {
  margin: 0px 7px;
}